<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/css/uikit.min.css" />

<!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>

    <title>BancoPY</title>
</head>
<body>
        <div class = "uk-margin uk-card-default uk-card-body uk-text-large" style="background-color: #35b234; color: white">
            BancoPy
        </div>
        <form class="uk-padding">
            <fieldset class="uk-fieldset"> </fieldset>
                <legend class="uk-legend">Login</legend>
                <div class = "uk-margin">
                    <input class = "uk-input" name = "nome" type="text" placeholder="Nome..." required>
                </div>
                <div class = "uk-margin">
                    <input class = "uk-input" name = "idade" type="number" placeholder="idade..." required>
                </div>
                <input class = "uk-button uk-button-default" type="submit" value="LOGIN">
        </form>
</body>
</html>